**/.gradle/
.classpath
.project
.settings/
**/build/
**/.idea/
./ant/build.properties
**/target/
**/*.iml
ant/build.properties
ant/interlok-downloads/
container/
ant/resources/ivy.jar
**/*.bak
**/*.pyc
**/*.log
venv/**
app/resources/credentials.json
